@charset "utf-8";
/* CSS DOCUMENT */
p {color: rgb(84, 84, 84);
   font-size: 16px;
   line-height: 18px:; 
   width: 600px;
   background-color: lightgrey;
   padding: 20px;}
h1, h2 {color: red;}

body {background-image: url("slike/pozadina.jpeg");}
a:link {color: black;
        background-color: white;
		padding: 5px;
		line-height: 40px;
		border:1px solid #000000;}

a:hover {background-color: darkgrey;}

ol, ul {color: red;
        font-size: 18px;}